body {
         margin: 0;
     }
  footer>div:not(:last-child), header>div:nth-child(2) {
        display: none;
    }
    header, main, footer {
        outline: 1px solid red;
    }
    div {
        outline: 1px solid blue; padding: 10px;
    }
    header>div,  article>ul>li, aside>div, article>div, footer>div  {
        background-color: lightblue;
    }
    .four {
        position: fixed;
        background-color:lightpink;
    }
    aside input {
        display: none;
    }
    aside ul li {
        list-style: none;
        display: none;
    }
    #Menu:checked~label[for=Menu] {
        display: block;
    
    }
    #Menu:checked~ul li {
        display: block;
        cursor: pointer;
    }
    label {
        position: fixed;
    }