/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */
body {
    margin: 0;
}
header {
    display: flex;
}
aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

    div {
      padding: 10px;
    }
    header>div, article>ul>li, aside>div, article>div, footer>div  {
        background-color: lightblue;
    }
    label {
        position: absolute;
    }
    aside input {
        display: none;
    }
    aside ul li {
        list-style: none;
        display: none;
    }
    #Menu:checked~label[for=Menu] {
        display: block;
    
    }
    #Menu:checked~ul li {
        display: block;
        cursor: pointer;
    }
    header>div:first-child {
     flex: 1;
    margin: 0 1vh 0 0;
}
header>div:nth-child(2) {
            flex: 2;
    margin: 0 1vh 0 0; 
}
header>div:nth-child(3) {
            flex: 3;
}
main {
    display: flex;
    justify-content: space-between;
}
aside {
    height: 700px;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 0 20px 0;
}

aside>div:first-child {

    height: 350px;
    width: 20vw;
}
aside>div:last-child {
    width: 20vw;
    height: 120px;
}
.five {
    height: 250px;
}
article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: space-between;

}
article>:nth-child(1) {
    width: calc(100% - 20px)
}
article>:nth-child(3),
article>:nth-child(4) {
    width: calc(50% - 30px);
    height: 120px;
}
article>:nth-child(2) {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: flex-start;
}
article>ul>li {
    width: 12vw;
    height: 100px;
    background-color:blue;
    margin: 0 2vw 0 0;
}
article>ul>li:first-child, article>ul>li:nth-child(6) {
    margin-left: -40px;
}
article>ul>li:nth-child(6), article>ul>li:last-child {
    margin-top: 2vw;
}

main>hr {
    display: none;
}
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer>div:first-child, footer>div:nth-child(2)  {
    width: calc(30% - 20px);
    height: 180px;
}
footer>div:nth-child(3), footer>div:last-child {
    width: calc(30% - 20px);
    height: 75px;
}
footer>div:last-child {
    position: relative;
    left: 70%;
    bottom: 95px;
}