header, main, footer, aside, article, hr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header {
    height: 10vh;
    align-items: center;
    justify-content: center;
}
header>div:first-child, header>div:nth-child(2),
header>div:nth-child(3) {
    background-color: lightblue;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
}
header>div:first-child {
    flex: 1;
    margin: 0 1vh 0 0;
}
header>div:nth-child(2) {
    flex: 2;
    margin: 0 1vh 0 0;
}
header>div:nth-child(3) {
    flex: 3;
}
article input {
        display: none;
    }
article ul li {
        list-style: none;
        display: none;
    }
 #Catalog:checked~label[for=Catalog] {
        display: flex;
    }
 #Catalog:checked~ul li {
        display: flex;
        cursor: pointer;
    }
.Cat, label {
        position: fixed; }
.Cat {
    margin-left: -5vw;
}
 article>div:nth-child(1) {
        display: flex;
        background-color: blue;
        align-items: center;
        margin: 0 1vh 1vh 0;
        flex-wrap: wrap;
        width: 20vw;
        height: 30vh;
    }
    article>ul+div {
        margin: 10vh 1vh 0 0;
        background-color: blue;
        align-items: center;
        height: 14vh;
        flex-wrap: wrap;
        flex-direction: column;
        width: 20vw;
    }
    article>div:last-child {
        background-color: blue;
        align-items: center;
        text-align: justify;
        margin: 1vh;
        flex-wrap: wrap;
        width: 30vw;
    }
    aside>div:first-child {
      background-color: rgb(230, 173, 222);
        height: 14vh;
        width: 10vw;
        align-items: center;
        margin: 1vh 0 0 0 ;
        flex-wrap: wrap;
        flex-direction: column-reverse;
      
    }
     aside>div:last-child {
      background-color: rgb(230, 173, 222);
        height: 20vh;
        align-items: center;
        margin-left: 0vw;
        flex-wrap: wrap;
        width: 60vw;
    }
    .four {
        order: 2;
    }
    .five {
        order: -1;
    }
    .six {
        order: -5;
    }
    main {
        flex-direction: row-reverse;
        justify-content: space-between;
    
    }
    article~hr {
        display: none;
    }
    article, aside {
        flex-direction: column;
    }