body, ul { margin: 0; list-style: none; }
body>* {
    max-width: 460px;
}
header {
        position: absolute;
        height: 220px;
        background-color: salmon;
        right: 0;
        left: 0;
    
    }
header>div {
        position: relative;
        background: gold;
        max-width: 440px;
        height: 40px;
        text-align: center;
        line-height: 30px;
        top: 10px;
        left: 10px;
        border-radius: 4px;
    }
 header>ul>li {
        position: absolute;
        display: inline-block;
        cursor: pointer;
        top: 50px;
        left: 10px;
 }
 header>ul>li:nth-child(2) {
    top: 70px;
}

header>ul>li:nth-child(3) {
    top: 90px;
}
header>ul>li+li+li>ul {
    display: none;
}
header>ul>li:nth-child(3):hover>ul {
    display: block;
    position: absolute;
 }
 header>ul>li:nth-child(3):hover>ul>li:hover {
    text-decoration: underline;
}
aside {
    top: 220px;
    position: absolute;
    display: block;
    background-color: fuchsia;
    right: 0;
    left: 0;
    height: 220px;
}
aside>div, aside>div~ul>li {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
input[type=checkbox] {
    display: none;
}
label {
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
}
aside>div~ul {
    display: block;
    position: relative;
}
label::after {
    display: inline-block;
    content: "\25bc";
    position: absolute;
    right: 0;
}
aside>div~ul>li>ul {
    display: none;
    z-index: 1;
}
#roga:checked~ul {
    display: block;
}
#roga:checked~label[for=roga] {
    display: block;
}
#kopita:checked~ul {
    display: block;
}
#kopita:checked~label[for=kopita] {
    display: block;
}
#koja:checked~ul {
    display: block;
}
#koja:checked~label[for=koja] {
    display: block;
}
main {
    display: block;
    position: absolute;
    top: 440px;
    bottom: 130px;
    right: 0;
    left: 0;
   
}
footer {
    display: block;
    position: absolute;
    background-color: aqua;
    bottom: 0;
    top: 624px;
    text-align: center;
    line-height: 120px;
    right: 0;
    left: 0;
}


